<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
<script src="/scripts/spinner.js"></script>
<% let countdown = estimatedTime * 60000 %>
<script id="script" class="<%=estimatedTime%>" type='text/javascript'>setTimeout("location.reload();", <%= countdown %>);</script>
</div>
  <div class="container">
 <h2>Order Number: <%= orderId %> </h2>

<span>
</div>
  <div class="container">
    <div class="card" style="padding-bottom: 100px;">


<% if (!pickedUp && customerId) { %>
  <div class="container">
    <div class="card">
      <div class="card-body" id="processing">
  <h4>  <br> THANK YOU <br> </h4>
  <h6> Your order is being processed. We will continue to update you! </h6>
    <ul class="list-group list-group-flush">
  <% if (!pickedUp && customerId && !time_confirmed) { %><li id="recieved" class="list-group-item">1. RECIEVED ORDER</li><% } %>
  <% if (!pickedUp && customerId && time_confirmed) { %><li id="in_progress" class="list-group-item">2. IN PROGRESS</li><% } %>
</ul>
</div>
  </div>
</div>
<% }; %>

<br>
<br>

        <h3>Summary </h3>
        <br>
<%-orderedItems%>
<br>

  <h6>Preparation time: <%= estimatedTime %> mins</h6>
        <h6>Number of items: <%= items %> </h6>
        <br>
  <h5>Order total: $<%= orderAmount %></h5>
<br>

<% if (!pickedUp && !customerId) { %>
  <h4>  <br> Details for Your Pickup <br> </h4>
      <form id="customer">
        <div class="form-group">
          <br>
          <label for="phonenumber">Phone Number</label>
          <input name="phonenumber" type="text" class="form-control" maxlength="10" placeholder="Enter Phone Number">
          <small text text-muted">You will recieve a text confirmation of the estimated pickup time. We will never share your information with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="customername" >Name</label>
          <input name="customername" type="text" class="form-control" maxlength="80" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="postcode">Postal Code</label>
          <input name="postcode" type="text" class="form-control" size="7" maxlength="6" placeholder="M5V1Y2">
        </div>
        <br>
        <input name="order_id" type=text hidden value="<%= orderId %>">
        <button id="confirm" class="btn btn-warning">Confirm Order</button>
        <br>
      </form>
    </div>
  </div>
</div>
<% }; %>


<% if (pickedUp) { %>
<div class="container">
    <div class="card">
      <div class="card-body">
  <h4>  <br> Bon Appetit!<br> </h4>
  <h6> How was your meal? </h6>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="form-group" id="rating-ability-wrapper">
      <label class="control-label" for="rating">
      <span class="field-label-header"></span><br>
      <span class="field-label-info"></span>
      <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
      </label>
      <h3 class="bold rating-header" style="">
      <span class="selected-rating">0</span><small> / 5</small>
      </h3>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
          <i class="fa fa-star" aria-hidden="true"></i>
      </button>
  </div>
</ul>
</div>
  </div>
</div>
</div>
<% }; %>

</body>
</html>

