<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
</div>
<img width="100%" src="pizzahero.jpg" alt="Delicious Pizza waiting to be Picked Up!" class="hero">

    <h1>New Order </h1>

<!-- NAV TABS FOR PIZZA AND EXTRAS -->
<!-- TODO: SHOW/HIDE FORMS -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Extras</a>
      </li>
    </ul>

    <br>

<!-- add container for current items in cart -->


<!-- add pizza form -->
    <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePizzaForm" aria-expanded="false" aria-controls="collapsePizzaForm">
      Add New Pizza
    </button>
    </p>
    <div class="collapse" id="collapsePizzaForm">
      <div class="card card-body">

      <h4>Size</h4>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <% for (i = 0; i < sizes.length; i++) { %>
          <li class="nav-item">
            <a class="nav-link" id="<%= sizes[i].name.toLowerCase() %>" data-toggle="pill" data-time="<%= sizes[i]['time_prep'] %>" data-cost="<%= sizes[i]['cost'] %>" href="  #pills-home"  role="tab"
              aria-controls="pills-home" aria-selected="true"><%= sizes[i]['name'] %></a>
          </li>
          <% } %>

        </ul>

      <br>

      <h4>Crust</h4>
        <ul class="nav nav-pills mb-3" role="tablist">
          <% for (i = 0; i < crusts.length; i++) { %>
          <li class="nav-item" id="<%= crusts[i]['name'].toLowerCase() %>"data-time="<%= crusts[i]['time_prep'] %>" data-cost="<%= crusts[i]['cost'] %>">
            <a class="nav-link" data-toggle="pill" href="  #pills-home"  role="tab"
              aria-controls="pills-home" aria-selected="true"><%= crusts[i]['name'] %></a>
          </li>
          <% } %>

        </ul>
      <br>
      <h4>Toppings</h4>
      <% for ( i = 0; i < toppings.length; i++) { %>
      <div class="form-check form-check-inline" id="<%= toppings[i]['name'].toLowerCase().split(' ').join('') %>" data-time="<%= toppings[i]['time_prep'] %>" data-cost="<%= toppings[i]['cost'] %>">
        <input class="form-check-input" type="checkbox" value="option1">
        <label class="form-check-label"><%= toppings[i]['name'] %></label>
      </div>
      <% } %>


      <br>

      <button type="button" class="btn btn-lg btn-primary">Add Pizza</button>
      <button type="button" class="btn btn-secondary btn-lg">Cancel</button>

      <br>

      </div>
    </div>

<!-- extras form -->



<ul>
  <% for ( i = 0; i < extras.length; i++) { %>
  <li>
    <h6><%= extras[i]['name'] %></h6>
    <div class="qty mt-5" id="<%= extras[i]['name'].toLowerCase().split(' ').join('') %>" data-time="<%= extras[i]['time_prep'] %>" data-cost="<%= extras[i]['cost'] %>">
        <span class="minus bg-dark">-</span>
        <input type="number" class="count" name="qty" value="1">
        <span class="plus bg-dark">+</span>
    </div>
  </li>
  <% } %>

<br>


</ul>

<!-- css to implement (just copy pasta) -->

<!-- .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
          -->


<!-- JS TO IMPLEMENT
              $(document).ready(function(){
        $('.count').prop('disabled', true);
        $(document).on('click','.plus',function(){
        $('.count').val(parseInt($('.count').val()) + 1 );
        });
          $(document).on('click','.minus',function(){
          $('.count').val(parseInt($('.count').val()) - 1 );
            if ($('.count').val() == 0) {
            $('.count').val(1);
          }
            });
    });

 -->

<!-- end of extras form********** -->

<br>

<p>Estimated time: </p>
<p>Total: </p>

<button type="button" class="btn btn-primary btn-lg btn-block" id="checkoutBtn">CHECKOUT</button>


  </body>
</html>
