
<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
  <body>
   <div class="container">
  <ul><h2> 🔥 Orders to Action 🔥</h2>
    <p>Orders are listed from most recent to oldest. The estimated default time is calculated but can be overriden. The entered and confirmed time will be sent to the customer. Please ensure you verify the customer upon pick up and before pressing "Picked Up"</p>
  </ul>

  <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Time</th>
      <th scope="col">Order Id</th>
      <th scope="col">Pizza Order</th>
      <th scope="col">Extra Order</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Number</th>
      <th scope="col">Confirm Time</th>
      <th scope="col">Pick Up</th>
    </tr>
  </thead>
  <tbody>
    <% for (i = orders.length - 1 ; i >= 0; i--) { %>

    <% if (orders[i]['time_pickup'] === null) { %>

    <tr>
      <th scope="row"></th>
        <td>
          <% var minutesorder = orders[i]['time_placed'].getMinutes();
          if(minutesorder<= 9){
            minutesorder = "0" + orders[i]['time_placed'].getMinutes();
          } %>
          <%= orders[i]['time_placed'].getHours() %>:<%= minutesorder %></td>
        <td><%= orders[i]['id'] %></td>
        <td>
          <% if (orders[i]['pizza_order'] !== null){ %>
            <% for (j = 0 ; j < orders[i]['pizza_order'].pizzas.length; j++) { %>
              <%= orders[i]['pizza_order'].pizzas[j].size %>
              /
              <%= orders[i]['pizza_order'].pizzas[j].crust %>

              <% if (orders[i]['pizza_order'].pizzas[j].toppings.length > 0){ %>
                /
                <% for (let k = 0; k < orders[i]['pizza_order'].pizzas[j].toppings.length; k++) { %>
                <%= orders[i]['pizza_order'].pizzas[j].toppings[k] %>
                -
                <% } %>

              <% } else { %>
                / basic tomato Sauce & mozarella cheese
              <% } %>
              <br>
            <% } %>
          <% } %>
        </td>
        <td>
          <% if (orders[i]['extra'] !== null){ %>
            <% for (k = 0 ; k < orders[i]['extra'].extra.length; k++) { %>
              <%= orders[i]['extra'].extra[k] %> <br>
            <% } %>
          <% } %>
        </td>
        <td><%= orders[i]['name'] %></td>
        <td><%= orders[i]['phone'] %></td>
        <td>
          <% if(orders[i]['time_confirmed'] === null){ %>
            <form id="confirmForm" class="form-inline" action="/confirm/orders" method="POST" >
              <input style="width:50%;" class="form-control" placeholder="<%= orders[i]['estimated_time'] %>" name="est" >
              <input type="text" name="order_id" value="<%= orders[i]['id'] %>" hidden>
              <p> &nbsp mins &nbsp</p>
              <button type="submit" form="confirmForm" value="Submit">Confirm</button>
            </form>
          <% } else { %>
            <% var minutesorder = orders[i]['time_confirmed'].getMinutes();
            if(minutesorder<= 9){
              minutesorder = "0" + orders[i]['time_confirmed'].getMinutes();
            } %>
            <%= orders[i]['time_confirmed'].getHours() %>:<%= minutesorder %>
            <% } %>
        </td>
        <td>
          <form action="/pickup/orders" method="POST" >
            <button type="submit" class="btn btn-dark mb-2" margin-top=2% name="order_id" value="<%= orders[i]['id'] %>">Picked Up</button>
          </form>
        </td>
      </tr>
      <% } %>
  <% } %>
  </tbody>
  </table>
  </div>
  </body>
</html>
